name: Substreams CLI
on: [push]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Substreams CLI
      - uses: supplypike/setup-bin@v3
        with:
          uri: 'https://github.com/streamingfast/substreams/releases/download/v1.0.0/substreams_linux_x86_64.tar.gz'
          name: 'substreams'
          version: '1.0.0'
      - name: Compile WASM
        run: make

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            *.spkg